body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    margin: 0 auto;
}

.input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.content{
    width: 100%;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 20px;
}
